<h1>Welcome to the Details page of the {{ room.name }}</h1>
<p>This room is posted by: <b> {{ room.owner.fullname }}</b></p>
<img src="{{room.imageUrl}}" alt="" width="300">
<p>Description: {{room.description}}</p>
{{#if room.isDueno}}

      <form action="/rooms/{{room._id}}/delete" method="POST" class="delete-button">
        <button type="submit">DELETE</button>
      </form>
   
     <form action="/rooms/{{room._id}}/edit" >
        <button type="submit">EDIT</button>
      </form>
        
  {{/if}}
  <a href="/rooms" class="return-button">RETURN</a>
<h2>Add a Review</h2>
  <form action="/rooms/{{room._id}}/add-review" method="POST">
  <textarea name="comment" id="" cols="30" rows="10"></textarea>
  <button type="submit">Add</button>
  </form>

  {{!-- if ther are reviews, show them, if not, forget about it @ --}}
  {{#if room.reviews}}
    <h3>Reviews: </h3>
    {{#each room.reviews}}
    <p> <b>{{ this.user.fullname }} said: </b> {{ this.comment }} </p>
      {{#if this.canBeChanged}}
        <a href="/reviews/{{this._id}}">Edit</a>
          <form action="/reviews/{{this._id}}" method="POST">
            <button type="submit">Delete</button>
          </form>
      {{/if}}
    {{/each}}
  {{/if}}